<section class="py-3">

    <div class="bg-green-100 border border-green-900 text-stone-900 font-semibold mb-6 px-3 py-3 rounded">
        <h3 class="text-center">Index sur le dessus gauche de la souris, aller sur le Smiley. Clic!</h3>
    </div>

    <div class="flex flex-wrap">

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="001" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="002" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="003" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="004" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="005" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="006" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="007" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="008" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="009" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="010" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="011" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="012" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="013" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="014" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="015" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="016" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="017" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="018" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="019" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="020" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="021" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="022" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="023" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-3/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="024" />
        </div>

    </div><!-- /flex -->

    <div class="flex justify-around my-6">
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-gauche-24" class="bg-amber-600 hover:bg-amber-700 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded ">
            Recommencer !
        </a>
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-gauche-48" class="bg-green-600 hover:bg-green-900 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded">
            Continuer !
        </a>
    </div>
    
</section>

<script>
    // https://developer.mozilla.org/fr/docs/Web/API/Window/DOMContentLoaded_event
    window.addEventListener("DOMContentLoaded", (event) => {
        console.log("clic gauche X24 fully loaded and parsed");

        // https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/hidden
        document.getElementById("001").addEventListener(
            "click",
            () => {
                document.getElementById("001").hidden = true;
            },
            false
        );
    
        document.getElementById("002").addEventListener(
            "click",
            () => {
                document.getElementById("002").hidden = true;
            },
            false
        );
    
        document.getElementById("003").addEventListener(
            "click",
            () => {
                document.getElementById("003").hidden = true;
            },
            false
        );
    
        document.getElementById("004").addEventListener(
            "click",
            () => {
                document.getElementById("004").hidden = true;
            },
            false
        );
    
        document.getElementById("005").addEventListener(
            "click",
            () => {
                document.getElementById("005").hidden = true;
            },
            false
        );
    
        document.getElementById("006").addEventListener(
            "click",
            () => {
                document.getElementById("006").hidden = true;
            },
            false
        );
    
        document.getElementById("007").addEventListener(
            "click",
            () => {
                document.getElementById("007").hidden = true;
            },
            false
        );
    
        document.getElementById("008").addEventListener(
            "click",
            () => {
                document.getElementById("008").hidden = true;
            },
            false
        );
    
        document.getElementById("009").addEventListener(
            "click",
            () => {
                document.getElementById("009").hidden = true;
            },
            false
        );
    
        document.getElementById("010").addEventListener(
            "click",
            () => {
                document.getElementById("010").hidden = true;
            },
            false
        );
    
        document.getElementById("011").addEventListener(
            "click",
            () => {
                document.getElementById("011").hidden = true;
            },
            false
        );
    
        document.getElementById("012").addEventListener(
            "click",
            () => {
                document.getElementById("012").hidden = true;
            },
            false
        );
    
        document.getElementById("013").addEventListener(
            "click",
            () => {
                document.getElementById("013").hidden = true;
            },
            false
        );
    
        document.getElementById("014").addEventListener(
            "click",
            () => {
                document.getElementById("014").hidden = true;
            },
            false
        );
    
        document.getElementById("015").addEventListener(
            "click",
            () => {
                document.getElementById("015").hidden = true;
            },
            false
        );
    
        document.getElementById("016").addEventListener(
            "click",
            () => {
                document.getElementById("016").hidden = true;
            },
            false
        );
    
        document.getElementById("017").addEventListener(
            "click",
            () => {
                document.getElementById("017").hidden = true;
            },
            false
        );
    
        document.getElementById("018").addEventListener(
            "click",
            () => {
                document.getElementById("018").hidden = true;
            },
            false
        );
    
        document.getElementById("019").addEventListener(
            "click",
            () => {
                document.getElementById("019").hidden = true;
            },
            false
        );
    
        document.getElementById("020").addEventListener(
            "click",
            () => {
                document.getElementById("020").hidden = true;
            },
            false
        );
    
        document.getElementById("021").addEventListener(
            "click",
            () => {
                document.getElementById("021").hidden = true;
            },
            false
        );
    
        document.getElementById("022").addEventListener(
            "click",
            () => {
                document.getElementById("022").hidden = true;
            },
            false
        );
    
        document.getElementById("023").addEventListener(
            "click",
            () => {
                document.getElementById("023").hidden = true;
            },
            false
        );
    
        document.getElementById("024").addEventListener(
            "click",
            () => {
                document.getElementById("024").hidden = true;
            },
            false
        );
    
    });
</script>
