<section class="py-3">

    <div class="bg-green-100 border border-green-900 text-stone-900 font-semibold mb-6 px-3 py-3 rounded">
        <h3 class="text-center">Majeur sur le dessus droit de la souris, aller sur la cible, clic droit et descendre sur Supprimer. Puis index clic gauche !!!</h3>
    </div>

    <div class="flex flex-wrap">

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="001" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="002" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="003" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="004" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="005" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="006" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="007" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="008" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="009" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="010" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="011" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-44 lg:h-60">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-6/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="012" />
        </div>
        
    </div><!--/flex -->

    <div class="flex justify-around my-6">
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-droit-12" class="bg-amber-600 hover:bg-amber-700 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded ">
            Recommencer !
        </a>
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-droit-24" class="bg-green-600 hover:bg-green-900 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded">
            Continuer !
        </a>
    </div>
    
</section>

<!-- https://swisnl.github.io/jQuery-contextMenu/ -->
<!-- https://github.com/swisnl/jQuery-contextMenu -->

{{ $jqueryjs := resources.Get "vendor/jquery-3.7.0.min.js" }}
<script src="{{- $jqueryjs.Permalink | relURL -}}"></script>

{{ $contextmenujs := resources.Get "vendor/dist/jquery.contextMenu.min.js" }}
<script src="{{- $contextmenujs.Permalink | relURL -}}"></script>

{{ $jqueryui := resources.Get "vendor/dist/jquery.ui.position.js" }}
<script src="{{- $jqueryui.Permalink | relURL -}}"></script>
<!--
{{ $contextmenucss := resources.Get "vendor/dist/jquery.contextMenu.min.css" }}
<script src="{{- $contextmenucss.Permalink | relURL -}}"></script>
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">

<script type="text/javascript">

    $( document ).ready(function() {

        // A $( document ).ready() block.
        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#001",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('001').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#002",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('002').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#003",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('003').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#004",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('004').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#005",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('005').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#006",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('006').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#007",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('007').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#008",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('008').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#009",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('009').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#010",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('010').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#011",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('011').style.display = 'none'; } }
            }
        });

        $.contextMenu({            
            // define which elements trigger this menu
            selector: "#012",
            // define the elements of the menu
            items: {
                nouveau: { name: "Nouveau", callback: function (key, opt) {} },
                couper: { name: "Couper", callback: function (key, opt) {} },
                Copier: { name: "Copier", callback: function (key, opt) {} },
                paitre: { name: "Envoyer paître", callback: function (key, opt) {} },
                renommer: { name: "Renommer", callback: function (key, opt) {} },
                "separation": "---------",
                supprimmer: { name: "Supprimer", callback: function (key, opt) { document.getElementById('012').style.display = 'none'; } }
            }
        });
 
    });
</script>
