<section class="py-3">

    <div class="bg-green-100 border border-green-900 text-stone-900 font-semibold mb-6 px-3 py-3 rounded">
        <h3 class="text-center">Index sur le dessus gauche de la souris, aller sur le Smiley. Clic Clic!</h3>
    </div>

    <div class="flex flex-wrap">

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="001" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="002" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="003" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="004" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="005" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="006" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="007" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="008" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="009" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="010" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="011" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="012" />
        </div>
        
        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="013" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="014" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="015" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="016" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="017" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="018" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="019" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="020" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="021" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="022" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="023" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="024" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="025" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="026" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="027" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="028" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="029" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="030" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="031" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="032" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="033" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="034" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="035" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="036" />
        </div>
        
        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="037" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="038" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="039" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="040" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="041" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="042" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="043" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="044" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="045" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="046" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="047" />
        </div>

        <div class="flex flex-col py-3 w-4/12 h-28">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Supprimer moi !</span>
            </div>
            <img alt="Image smiley " class="object-cover object-center cursor-pointer w-1/12 mx-auto"
                src="{{ .Site.Params.unhappy | relURL }}" id="048" />
        </div>

    </div><!-- /flex -->

    <div class="flex justify-around my-6">
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-gauche-48" class="bg-amber-600 hover:bg-amber-700 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded ">
            Recommencer !
        </a>
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/clic-droit-06" class="bg-green-600 hover:bg-green-900 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded">
            Continuer !
        </a>
    </div>
    
</section>

<script>
    // https://developer.mozilla.org/fr/docs/Web/API/Window/DOMContentLoaded_event
    window.addEventListener("DOMContentLoaded", (event) => {
        console.log("double clic X48 fully loaded and parsed");

        // https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/hidden
        document.getElementById("001").addEventListener(
            "dblclick",
            () => {
                document.getElementById("001").hidden = true;
            },
            false
        );
    
        document.getElementById("002").addEventListener(
            "dblclick",
            () => {
                document.getElementById("002").hidden = true;
            },
            false
        );
    
        document.getElementById("003").addEventListener(
            "dblclick",
            () => {
                document.getElementById("003").hidden = true;
            },
            false
        );
    
        document.getElementById("004").addEventListener(
            "dblclick",
            () => {
                document.getElementById("004").hidden = true;
            },
            false
        );
    
        document.getElementById("005").addEventListener(
            "dblclick",
            () => {
                document.getElementById("005").hidden = true;
            },
            false
        );
    
        document.getElementById("006").addEventListener(
            "dblclick",
            () => {
                document.getElementById("006").hidden = true;
            },
            false
        );
    
        document.getElementById("007").addEventListener(
            "dblclick",
            () => {
                document.getElementById("007").hidden = true;
            },
            false
        );
    
        document.getElementById("008").addEventListener(
            "dblclick",
            () => {
                document.getElementById("008").hidden = true;
            },
            false
        );
    
        document.getElementById("009").addEventListener(
            "dblclick",
            () => {
                document.getElementById("009").hidden = true;
            },
            false
        );
    
        document.getElementById("010").addEventListener(
            "dblclick",
            () => {
                document.getElementById("010").hidden = true;
            },
            false
        );
    
        document.getElementById("011").addEventListener(
            "dblclick",
            () => {
                document.getElementById("011").hidden = true;
            },
            false
        );
    
        document.getElementById("012").addEventListener(
            "dblclick",
            () => {
                document.getElementById("012").hidden = true;
            },
            false
        );
    
        document.getElementById("013").addEventListener(
            "dblclick",
            () => {
                document.getElementById("013").hidden = true;
            },
            false
        );
    
        document.getElementById("014").addEventListener(
            "dblclick",
            () => {
                document.getElementById("014").hidden = true;
            },
            false
        );
    
        document.getElementById("015").addEventListener(
            "dblclick",
            () => {
                document.getElementById("015").hidden = true;
            },
            false
        );
    
        document.getElementById("016").addEventListener(
            "dblclick",
            () => {
                document.getElementById("016").hidden = true;
            },
            false
        );
    
        document.getElementById("017").addEventListener(
            "dblclick",
            () => {
                document.getElementById("017").hidden = true;
            },
            false
        );
    
        document.getElementById("018").addEventListener(
            "dblclick",
            () => {
                document.getElementById("018").hidden = true;
            },
            false
        );
    
        document.getElementById("019").addEventListener(
            "dblclick",
            () => {
                document.getElementById("019").hidden = true;
            },
            false
        );
    
        document.getElementById("020").addEventListener(
            "dblclick",
            () => {
                document.getElementById("020").hidden = true;
            },
            false
        );
    
        document.getElementById("021").addEventListener(
            "dblclick",
            () => {
                document.getElementById("021").hidden = true;
            },
            false
        );
    
        document.getElementById("022").addEventListener(
            "dblclick",
            () => {
                document.getElementById("022").hidden = true;
            },
            false
        );
    
        document.getElementById("023").addEventListener(
            "dblclick",
            () => {
                document.getElementById("023").hidden = true;
            },
            false
        );
    
        document.getElementById("024").addEventListener(
            "dblclick",
            () => {
                document.getElementById("024").hidden = true;
            },
            false
        );
    
        document.getElementById("025").addEventListener(
            "dblclick",
            () => {
                document.getElementById("025").hidden = true;
            },
            false
        );
    
        document.getElementById("026").addEventListener(
            "dblclick",
            () => {
                document.getElementById("026").hidden = true;
            },
            false
        );
    
        document.getElementById("027").addEventListener(
            "dblclick",
            () => {
                document.getElementById("027").hidden = true;
            },
            false
        );
    
        document.getElementById("028").addEventListener(
            "dblclick",
            () => {
                document.getElementById("028").hidden = true;
            },
            false
        );
    
        document.getElementById("029").addEventListener(
            "dblclick",
            () => {
                document.getElementById("029").hidden = true;
            },
            false
        );
    
        document.getElementById("030").addEventListener(
            "dblclick",
            () => {
                document.getElementById("030").hidden = true;
            },
            false
        );
    
        document.getElementById("031").addEventListener(
            "dblclick",
            () => {
                document.getElementById("031").hidden = true;
            },
            false
        );
    
        document.getElementById("032").addEventListener(
            "dblclick",
            () => {
                document.getElementById("032").hidden = true;
            },
            false
        );
    
        document.getElementById("033").addEventListener(
            "dblclick",
            () => {
                document.getElementById("033").hidden = true;
            },
            false
        );
    
    
        document.getElementById("034").addEventListener(
            "dblclick",
            () => {
                document.getElementById("034").hidden = true;
            },
            false
        );
    
        document.getElementById("035").addEventListener(
            "dblclick",
            () => {
                document.getElementById("035").hidden = true;
            },
            false
        );
    
        document.getElementById("036").addEventListener(
            "dblclick",
            () => {
                document.getElementById("036").hidden = true;
            },
            false
        );
    
        document.getElementById("037").addEventListener(
            "dblclick",
            () => {
                document.getElementById("037").hidden = true;
            },
            false
        );
    
        document.getElementById("038").addEventListener(
            "dblclick",
            () => {
                document.getElementById("038").hidden = true;
            },
            false
        );
    
        document.getElementById("039").addEventListener(
            "dblclick",
            () => {
                document.getElementById("039").hidden = true;
            },
            false
        );
    
        document.getElementById("040").addEventListener(
            "dblclick",
            () => {
                document.getElementById("040").hidden = true;
            },
            false
        );
    
        document.getElementById("041").addEventListener(
            "dblclick",
            () => {
                document.getElementById("041").hidden = true;
            },
            false
        );
    
        document.getElementById("042").addEventListener(
            "dblclick",
            () => {
                document.getElementById("042").hidden = true;
            },
            false
        );
    
        document.getElementById("043").addEventListener(
            "dblclick",
            () => {
                document.getElementById("043").hidden = true;
            },
            false
        );
    
        document.getElementById("044").addEventListener(
            "dblclick",
            () => {
                document.getElementById("044").hidden = true;
            },
            false
        );
    
        document.getElementById("045").addEventListener(
            "dblclick",
            () => {
                document.getElementById("045").hidden = true;
            },
            false
        );
    
        document.getElementById("046").addEventListener(
            "dblclick",
            () => {
                document.getElementById("046").hidden = true;
            },
            false
        );
    
        document.getElementById("047").addEventListener(
            "dblclick",
            () => {
                document.getElementById("047").hidden = true;
            },
            false
        );
    
        document.getElementById("048").addEventListener(
            "dblclick",
            () => {
                document.getElementById("048").hidden = true;
            },
            false
        );
    });
</script>
