<section class="py-3">

    <div class="bg-green-100 border border-green-900 text-stone-900 font-semibold py-3 mb-6 rounded mx-auto">
        <h3 class="text-center">Index sur le dessus gauche de la souris, aller sur le Smiley. Clic, rester appuyé et
            glisser sur la droite, relacher !</h3>
    </div>

    <div class="flex flex-wrap justify-around">

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="001" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="002" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="003" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="004" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="005" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="006" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="007" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="008" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="009" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="010" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="011" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="012" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="013" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="014" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="015" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="016" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="017" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="018" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="019" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="020" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="021" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="022" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="023" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Glisser moi !</span>
            </div>
            <img src="{{ .Site.Params.happy | relURL }}" alt="Image smiley" class="cursor-pointer w-3/12 mx-auto"
                id="024" draggable="true" ondragstart="dragstart_handler(event)" />
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40">
            <!--col vide-->
        </div>
        <div class="flex flex-col py-3 w-4/12 h-36 lg:h-40" ondrop="dropend_handler(event)"
            ondragover="dragover_handler(event)">
            <div
                class="bg-stone-300 border border-stone-900 text-stone-900 text-center font-semibold px-3 py-3 w-9/12 mx-auto h-16 lg:h-12 rounded">
                <span>Déposer moi !</span>
            </div>
        </div>

    </div><!-- /flex -->

    <div class="flex justify-around my-6">
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/glisser-deposer-24"
            class="bg-amber-600 hover:bg-amber-700 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded ">
            Recommencer !
        </a>
        <!-- Using utilities: -->
        <a href="{{ .Site.BaseURL }}/glisser-deposer-48"
            class="bg-green-600 hover:bg-green-900 text-white font-bold py-3 px-3 lg:w-3/12 text-center rounded">
            Continuer !
        </a>
    </div>

</section>

<script>
    // https://developer.mozilla.org/fr/docs/Web/API/Window/DOMContentLoaded_event
    //window.addEventListener("DOMContentLoaded", (event) => {
    console.log("glisser deposer X24 fully loaded and parsed");

    // https://developer.mozilla.org/fr/docs/Web/API/HTML_Drag_and_Drop_API    
    function dragstart_handler(ev) {
        // On ajoute l'identifiant de l'élément cible à l'objet de transfert
        ev.dataTransfer.setData("text", ev.target.id);
        ev.dataTransfer.dropEffect = "move";
    }
    function dragover_handler(ev) {
        ev.preventDefault();
        ev.dataTransfer.dropEffect = "move"
    }
    function dropend_handler(ev) {
        ev.preventDefault();
        // On obtient l'identifiant de la cible et on ajoute l'élément déplacé
        // au DOM de la cible
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    //});

    // https://www.w3schools.com/html/html5_draganddrop.asp
</script>
